:root {
    --color-primary: #fd433d;
    --color-accent: #5cf5fd;

    --color-bg-white: #535353;
    --color-bg-red: #311f1f;
    --color-bg-black: #1f1414;

    --color-text-white: var(--color-accent);
    --color-text-red: var(--color-primary);

    --color-link: var(--color-accent);
    --color-rule-link: var(--color-primary);
    --color-link-hover: var(--color-accent);
    --color-heading: var(--color-primary);

    --color-control-bg: var(--color-bg-red);
    --color-control-bg-hover: var(--color-bg-white);

    --color-border: var(--color-control-bg);

    --font-body: "Tektur";
    --font-heading: "Tektur";

    font-size: 18px;
    font-family: var(--font-body), sans-serif;
    font-weight: 400;

    color-scheme: dark;
    color: var(--color-text-red);
    background-color: var(--color-bg-black);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-gutter: stable;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading), sans-serif;
    font-weight: 700;
    margin-top: 2.5rem;
    margin-bottom: 0;
    color: var(--color-heading);
}

:is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 0;
}

p {
    margin: 0.5rem 0;
}

ul, ol {
    margin: 0;
}

a {
    color: var(--color-link);
    text-decoration: none;
    transition: color 0.15s, text-shadow 0.15s;
}

a:hover, button:not(:disabled):hover {
    color: var(--color-link-hover);
    text-shadow: 0 0 0.5em currentColor;
}
